@layer base {
  @font-face {
    font-family: 'Manrope';
    src:
    local('Manrope Regular'),
    local('Manrope-Regular'),
    url('../../shared/assets/fonts/Manrope-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Manrope';
    src:
    local('Manrope Medium'),
    local('Manrope-Medium'),
    url('../../shared/assets/fonts/Manrope-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Manrope';
    src:
    local('Manrope Bold'),
    local('Manrope-Bold'),
    url('../../shared/assets/fonts/Manrope-Bold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
}
