.container {
  border-bottom: 1px solid #d1d1d1;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.title {
  font-size: 20px;
  position: relative;
  padding-left: 15px;
  font-weight: 500;
  max-width: 90%;
} 
.title::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #5533ff;
  left: 0;
  top: calc(50% - 4px);
  border-radius: 50%;
}
.toggle {
  width: 24px;
  height: 24px;
  background-image: url("../../../../shared/assets/icons/accordeon.png");
  border: none;
  background-color: transparent;
  transition: transform 0.6s ease;

  transform: rotate(-180deg);
}
.toggle:hover {
  cursor: pointer;
}

.open {
  transform: rotate(0deg);
}

.show_container {
  display: flex;
  flex-direction: column;
}

.description_container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
pre {
  background: rgb(29, 29, 63) !important;
  color: rgb(103, 241, 103);
}
.arrow {
  margin-right: 20px;
}
